body {
	/*background-image: url('../grafika/footer_lodyas/footer_lodyas/footer_lodyas.png');*/
	background: #F8F8F8;
	margin: 0;
    padding-top: 70px;
    padding-right: 0px;
    padding-left: 0px;
    font-family: 'Verdana';
}
/* main nav */
	.navbar {
	    height: 10%;
	    font-size: 1.3em;
	}
	.navbar-nav {
		background: #F8F8F8;
	}
@media (max-width: 1040px) {
  .navbar-header {
      float: none;
  }
  .navbar-left,.navbar-right {
      float: none !important;
  }
  .navbar-toggle {
      display: block;
  }
  .navbar-collapse {
      border-top: 1px solid transparent;
      box-shadow: inset 0 1px 0 rgba(255,255,255,0.1);
  }
  .navbar-fixed-top {
      top: 0;
      border-width: 0 0 1px;
  }
  .navbar-collapse.collapse {
      display: none!important;
  }
  .navbar-nav {
      float: none!important;
      margin-top: 7.5px;
  }
  .navbar-nav>li {
      float: none;
  }
  .navbar-nav>li>a {
      padding-top: 10px;
      padding-bottom: 10px;
  }
  .collapse.in{
      display:block !important;
  }
}
/* end of main nav*/
@media (max-width: 700px) {
 .slideout-widget {
 display: none;
 }
}
.icon-connectdevelop {
    color: #d9534f;
}
/*carousel*/
.carousel-caption {
	padding-bottom: 15%;
	border-radius: 8px;
	color: #F8F8F8;
}
.btn-link a {
	color: red;	
}
.btn-link a:hover, .btn-link a:visited, .btn-link a:active{
	color: rgb(53,62,63);
	text-decoration: none;
}
#promo {
	padding-bottom: 8%;
}
.carousel-caption h1{
	color: red;
}
#promo h1 {
	color: white;
}
@media (min-width:691px) and (max-width: 991px) {
	h1{
		font-size: 1.75em;
	}
	h3 {
		font-size: 1em;	
	}
	.carousel-caption {
		padding-bottom: 10%;
	}
}	
@media (min-width: 550px) and (max-width: 691px) {
	h1{
		font-size: 1.5em;
	}
	h3 {
		font-size: .75em;	
	}
	.carousel-caption {
		padding-bottom: 5%;
	}
	#promo .icon-connectdevelop {
		display: none;
	}	
}
@media (max-width: 549px) {
	h1{
		font-size: 1.3em;
	}
	h3 {
		font-size: 1em;	
	}
	.carousel-caption {
		padding-bottom: 1%;
	}
	#promo .icon-connectdevelop {
		display: none;
	}
}
/*end of carousel*/
@media (max-width: 768px) {
    .navbar-collapse {
    color: #333;
    background-color: #f8f8f8;
    text-align: center;
}
    
    .form-control {
        max-width: 50%;
        text-align: center;
        display: inline;
    }
    .navbar-default .navbar-nav>li>a:focus, .navbar-default .navbar-nav>li>a:hover {
    color: #333;
    background-color: #f8f8f8;   
	}
}
#content {
	/*background-color: #AEB0A6;*/
	background-color: rgb(214,215,210);
}
#content #box {
	padding: 1%;
}
#content #box #item {
	padding: 1%;
	/*background: #DBDFCC;*/
}
.icon-basket   {
    color: #d9534f;
    font-size: 1.7em;
}

.slideout-widget {
	position: fixed;
	top: 66%;
	transition: left .4s;
	z-index: 10;
	left: -17em;
	width: 17em;
	height: 150px;
}
 
.slideout-widget:hover {
 left: 0;
}
 
.slideout-widget-handler,
.slideout-widget-content {
 background: #eee;
 border: 1px solid #ddd;
 padding: 1em .5em;
}
 
.slideout-widget-handler {
 border-left: none;
 right: -3em;
 position: absolute;
 text-align: center;
 width: 3em;
height: 150px;
}
.slideout-widget-content {
 border-width: 1px 0;
 overflow: hidden;
 width: 100%;
 z-index: 11;
}

.product-photo {
    max-width: 100%;
    border-radius: 10px;
}

.description {
    text-align: justify;
}

.progress-bar {
    font-size: 1.2em;
}

.progress {height: 22px;}

.widget-chat .slideout-widget-handler,
.widget-chat .slideout-widget-content {
 background: #d9534f;
 border: none;
}
 
.widget-chat,
.widget-chat a {
 color: #fff;
}

.btn-right {
  position: absolute;
right: 10px;
    bottom: 5px;
    display: block;
}

.img-item {
    padding: 10px;
    border-radius: 20px;
}
footer {
	background: #1D2120;
	color: #EBE5DF;
	font-size: 1.1em;
	padding: 5px 0;
	text-align: center;
	position: absolute;
	z-index: 100;
    height: 8%;
    width: 100%;
}
/* nav */
@media (min-width: 992px) {
	#mini {
		display: none;		
	}
	#nav {
		position: -webkit-sticky;  
	    position: sticky;
	    top: 10%; 
	}	
	#nav .panel-group {
		background: #AEB0A6;
		text-align: center;
		display: block;
		} 
	.heading {
		background-color: #AEB0A6;
		border: 1px solid #AEB0A6;
		}
	.panel-title {
		height: 50px;
		font-size: 1.2em;
		letter-spacing: 2.3px;
		padding-top: 5%;
	 }
	.panel-title a {
		color: #353535;
	    text-decoration: none;
	}
	.panel-title a:hover {
		text-decoration: none;
		color: #d9534f;
	}
	.list-group-item, li.list-group-item a {
		background-color: #A8A8A8;
		border: 2px solid #A8A8A8;
		font-size: 1.1em;	
		color:  #353535;
		text-decoration: none;
		}
	.list-group-item a:hover {
		color: #d9534f;
	    text-decoration: none;
	}	
}
@media (max-width: 991px) {
	#nav {
		display: none;
	}
	#mini {
		background-color: #999;	
		text-align: center;
	}
	#mini ol {
        list-style-type: none;
        padding: 0;
		margin: 0;
		line-height: 250%;
		display: inline-block;
	}
  	#mini ol a {
    	display: block;
        font-family: 'Verdana';
	    color: #000;
	} 
    #mini ol > li {
    	float: left;
    }
	#mini ol a:hover {
		color: #d9534f;
		text-decoration: none;
	}
	#mini ol > li > ul {
		display: none;
		list-style-type: none;
		padding: 0;
		margin: 0;
		height: 40px;
		}
	#mini ol > li:hover ul {
		display: block;
		background-color: #999;	
		}
	#mini ol > li > ul > li {
		z-index: 1000;
    	position: relative;
    	background-color: #999;	
	}
	#mini ol > li > ul > li a:hover {
		background-color: #AEB0A6;
		color: #d9534f;
    	text-decoration: none;
    }
}
/* nav font-size */
@media (max-width: 768px) {
	#mini ol {
		height: 35px;
	}	
	#mini ol a {
		 font-size: 1em;
	}
	#mini ol > li {
		height: 40px;
    	width: 90px;
	}
}
@media (min-width: 769px) and (max-width: 991px) {
	#mini ol {
		height: 60px;
	}
	#mini ol > li {
    	width: 150px;
    	padding: 15px 5px;
    }
    #mini ol > li a {
    	font-size: 1.4em;
    }
}	
/* end of nav */
button a, button a:hover, button a:active, button a:visited {
	color: white;
	text-decoration: none;
}
