body {
	/*background-image: url('../grafika/footer_lodyas/footer_lodyas/footer_lodyas.png');*/
	background: #fff;
	margin: 0;
    padding-top: 70px;
    padding-right: 0px;
    padding-left: 0px;
}
.navbar {
    height: 10%;
}
@media (max-width: 700px) {
 .slideout-widget {
 display: none;
 }
}
.icon-connectdevelop {
    color: #CA3B19;
}
.carousel-caption {
	/*color: #EBE5DF;*/
	background: rgb(255,253,249);
	opacity: .6;
	border-radius: 8px;
	color: rgb(53,62,63);
}
button a {
	color: red;	
}
button a:hover, button a:visited, button a:active{
	color: rgb(53,62,63);
	text-decoration: none;
}
#promo {
	width: 40%;
	margin-bottom: 8%;
	margin-left: 10%;
}
#promo .icon-connectdevelop {
	font-size: 1.5em; 
	opacity:1; 
	font-weight: bold
}
.carousel-caption h1{
	color: red;
}
@media (max-width: 640px) {
	#timer h2, .carousel-caption h3 {
		font-size: 1em;	
		margin-top: 0;		
	}
	#promo .icon-connectdevelop {
		display: none;, #promo h1
	}
	.carousel-caption h1 {
		font-size: 1.5em;
	}
}
@media (min-width: 1025px) {
#nav {
	position: -webkit-sticky;  
    position: sticky;
    top: 10%; 
}
#nav #menu_harmonijka {
/*	background-color: #5A5C51;*/
	background: #999;
	text-align: center;
	display: block;
	} 
#panel-heading {
	/*background-color: #5A5C51;
	border: 1px solid #5A5C51;*/
	background-color: #999;
	border: 1px solid #999;
	}
#panel-title {
	height: 50px;
	font-size: 1.2em;
	letter-spacing: 5px;
	font-family: 'Verdana';
	padding-top: 5%;
	}
#panel-title:hover {
	background-color: #AEB0A6;
	color: #CA3B19;
	}
#panel-title a {
	color: #353535;
	}
#panel-title a:hover {
	width: auto;
	text-decoration: none;
	color: #CA3B19;
	background-color: #AEB0A6;
	}
#list-group-item, li#list-group-item a {
	background-color: #5A5C51;
	border: 1px solid #5A5C51;
	font-size: 1.1em;	
	color:  #353535;
	text-decoration: none;
	}
#list-group-item a:hover {
	color: #AEB0A6;
}	
#dropdown {
	display: none;
	}
}
@media (max-width: 1024px) {
	#nav  {
		display: none;
	}
	#nav-mini {
		text-align: center;
		background-color: #5A5C51;
	}
	#dropdown {
		width: 20%;
		display: inline-block;
	}
	#dropdown-title {
		background-color: #5A5C51;
		border: 1px solid #5A5C51;
	}	
	#dropdown-title:hover {
		background-color: #AEB0A6;
		color: #CA3B19;
		border-radius: 0;
	}
	#dropdown > ul {
		background-color: #5A5C51;
	}
	#dropdown > ul > li a {
		color: #353535;
	}
	#dropdown > ul >li a:hover {
		background-color: #AEB0A6;
		color: #CA3B19;
	}
}
#content {
	background-color: #AEB0A6;
}
#content #box {
	padding: 1%;
}
#content #box #item {
	padding: 1%;
	/*background: #DBDFCC;*/
}
.icon-basket   {
    color: #CA3B19;
}

.slideout-widget {
	position: fixed;
	top: 66%;
	transition: left .4s;
	z-index: 10;
	left: -17em;
	width: 17em;
	height: 150px;
}
 
.slideout-widget:hover {
 left: 0;
}
 
.slideout-widget-handler,
.slideout-widget-content {
 background: #eee;
 border: 1px solid #ddd;
 padding: 1em .5em;
}
 
.slideout-widget-handler {
 border-left: none;
 right: -3em;
 position: absolute;
 text-align: center;
 width: 3em;
height: 150px;
}
.slideout-widget-content {
 border-width: 1px 0;
 overflow: hidden;
 width: 100%;
 z-index: 11;
}

.widget-chat .slideout-widget-handler,
.widget-chat .slideout-widget-content {
 background: #CA3B19;
 border: none;
}
 
.widget-chat,
.widget-chat a {
 color: #fff;
}
#footer {
	background: #1D2120;
	color: #EBE5DF;
	font-size: 1.1em;
	padding-top: 5px;
	text-align: center;
	position: absolute;
	z-index: 100;
    height: 8%;
    width: 100%;
}